.Box {
  border: 1px solid var(--LightGray);
  border-radius: 5px;
  padding: 30px;
}

.BoxForgotPass {
  width: 300px;
}

.FormSignin {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.MarginFields {
  margin-bottom: var(--MarginBot);
}
